<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/home/login.js"></script>
    <!-- 일반적으로는 여기에 접근할 수 없으므로 미들웨어를 만들어줌 -->
</head>

<body>
    <input type="text" placeholder="아이디"> <br>
    <input type="text" placeholder="비밀번호"> <br>
    <button>버튼</button>
</body>

</html>